name: Docker image devop-template CI

on:
  workflow_call:
    inputs:
      helm_name:
        description: 'Nombre del la imagen de helm'
        required: true
        type: string
      helm_release:
        description: 'Nombre del release de helm'
        required: true
        type: string
      helm_version:
        description: 'Tag de la imagen de helm'
        required: true
        type: string
      image_repository:
        description: 'Repositorio de la imagen'
        required: false
        type: string
      image_tag:
        description: 'Tag de la imagen'
        required: false
        type: string
      namespace:
        description: 'Nombre del entorno de trabajo de openshift'
        required: true
        type: string

jobs:

  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Show image info
        run: |
          echo "Image name: ${{ inputs.image_repository }}"
          echo "Version: ${{ inputs.image_tag }}"
          
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install OC CLI
        run: |
          curl -L https://mirror.openshift.com/pub/openshift-v4/clients/ocp/latest/openshift-client-linux.tar.gz | tar xz
          sudo mv oc /usr/local/bin/
          oc version
      - name: Install Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.12.0
      - name: Verificar secreto OPENSHIFT_TOKEN sin exponerlo
        env:
          OPENSHIFT_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
        run: |
          if [ -z "$OPENSHIFT_TOKEN" ]; then
            echo "ERROR: OPENSHIFT_TOKEN no está definido o está vacío."
            exit 1
          fi
          echo "::add-mask::$OPENSHIFT_TOKEN"  # asegura que se oculte si se imprime por error
          echo "Longitud del token: ${#OPENSHIFT_TOKEN} caracteres"
          echo -n "$OPENSHIFT_TOKEN" | sha256sum | awk '{print "sha256(token) = "$1}'
      
      - name: Saneando token (quitar CR/LF) y exportando a entorno
        env:
          RAW_TOKEN: ${{ secrets.OPENSHIFT_TOKEN }}
        run: |
          CLEAN_TOKEN="$(printf '%s' "$RAW_TOKEN" | tr -d '\r\n')"
          echo "OPENSHIFT_TOKEN_STRIPPED=$CLEAN_TOKEN" >> $GITHUB_ENV
          echo "::add-mask::$CLEAN_TOKEN"
          echo "Longitud saneada: ${#CLEAN_TOKEN}"
      - name: Log in Openshift
        uses: redhat-actions/oc-login@v1
        with:
          openshift_server_url: https://api.rm2.thpm.p1.openshiftapps.com:6443
          openshift_token: ${{ env.OPENSHIFT_TOKEN_STRIPPED }} 
          namespace: ${{ inputs.namespace }}
      - name: Update Deployment tag
        run: |
          echo "Reemplazando {{ tag }} con ${{ inputs.image_tag }}"
          sed -i "s|{{ tag }}|${{ inputs.image_tag }}|g"  helm/values.yml
          echo "Reemplazando {{ repository }} con ${{ inputs.image_repository }}"
          sed -i "s|{{ repository }}|${{ secrets.DOCKER_USERNAME }}/${{ inputs.image_repository }}|g"  helm/values.yml
          cat helm/values.yml
      - name: Deploy files
        run: |
          helm show chart oci://registry-1.docker.io/${{ secrets.DOCKER_USERNAME  }}/${{ inputs.helm_name }} --version ${{ inputs.helm_version }}
          helm upgrade --install ${{ inputs.helm_release }} oci://registry-1.docker.io/${{ secrets.DOCKER_USERNAME  }}/${{ inputs.helm_name }} --version ${{ inputs.helm_version }} --values helm/values.yml
